node_modules
.env
DS_Store
.nuxt/
.output/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
bun-debug.log*

# Diagnostic reports
report.*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build output
dist/
build/
.nitro/

# Caches
.cache/

# Editors/OS
.vscode/
.idea/
*.swp
*.swo
Thumbs.db

# Environments (keep examples)
.env.*
!sample.env
!.env.example

# Deploy/hosting
.vercel/
.netlify/

# TypeScript
*.tsbuildinfo

# Supabase
supabase/.temp

# Convex
convex/.temp


#Python
backend/.venv
backend/convex/.temp

#Pycache
__pycache__
